body{
    background-color: bisque;
}
#cabecalho {
    border: 2px solid black;
    margin: 10px ;
    width: 90%;
    padding: 20px;
    margin-left: 40px;
    border-radius: 2px;
    background-color: rgb(243, 241, 230);
}

h1 {
    text-align: center;
   
}
#randomForm { 
    align-items: center ;
    width: 50%;
    margin-top: 50px;
    margin-left: 261px;
    border: 2px solid black;
    padding: 50px;
    border-radius: 2px;
    background-color: rgb(243, 241, 230);
}

.formContent input[type='text'] {
    background-color: white;
    border: 1px solid rgb(3, 73, 3);
    border-radius: 3px;
    width: 99%
}

.formContent input[type='email'] {
    background-color: white;
    border: 1px solid rgb(3, 73, 3);
    border-radius: 3px;
    width: 99%
}

#inputCaixaTxt {
    width: 98%;

}

.inputCheck {
    font-size: 15px;
    margin: 8px;
}

.buttonForm {
    margin: 5px;
    background-color: rgb(219, 213, 198);
    padding: 10px;
    border: 2px;
    
    
}