li {
    background-color: yellow;
    height: 20px;
}

li:nth-child(odd) {
   text-transform: uppercase;
}
li:nth-child(even) {
    color: green;
}

ol {
    font-weight: bolder;
}


h1 {
    color: red;
    height: 40px;
    border: 1px solid black;
}
ul:nth-child(1n+0) {
color: blue;
}
